<style>
  .topnav {
    display: none !important;
  }
</style>

<body class="background-pic">
  
  <div class="top-buffer"> </div>

  <div class="center-buttons">
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <a href="/business_signup" class="btn btn-outline-warning" role="button">Busineses</a>
      </div>
      <div class="col-lg-6 col-sm-12">
        <a href="/driver_signup" class="btn btn-outline-warning" role="button">Drivers</a>
      </div>
    </div>
  </div>

</body>