
<%= form_tag "/driver_login", method: :post do %>
  <div class="form-container">
    <div class="col-lg-8 col-sm-12">
      <form>
        <div class="center-me">
          <legend class="form-header">Driver Login</legend>
        </div>

        <div class="form-group">
          <input type="email" class="form-control" name="email" placeholder="Email">
        </div>

        <div class="form-group">
          <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        
        <div class="col text-center"> 
          <button id="singlebutton" name="singlebutton" class="btn btn-primary">Login</button> 
        </div>

      </form>
    </div>
  </div>
<% end %>