<h1>Signup!</h1>

<h4> Driver Details </h4>
<%= form_tag '/drivers', method: :post do  %>
  <div>
   First Name: <input type="text" name="first_name">
  </div>
  <div>
   Last Name: <input type="text" name="last_name">
  </div>
  <div>
   Phone Number: <input type="text" name="phone_number">
  </div>
  <div>
   Street Address 1: <input type="text" name="street_address_1">
  </div>
  <div>
   Street Address 2: <input type="text" name="street_address_2">
  </div>
  <div>
   City: <input type="text" name="city">
  </div>
  <div>
   State: <input type="text" name="state">
  </div>
  <div>
   Zip Code: <input type="text" name="zip_code">
  </div>

  <h4> Car Details: </h4>
  <div>
   Make: <input type="text" name="make">
  </div>
  <div>
   Model: <input type="text" name="model">
  </div>
  <div>
   Year: <input type="text" name="year">
  </div>
  <div>
   Mileage: <input type="text" name="mileage">
  </div>
  <div>
   Car Image: <input type="text" name="car_image">
  </div>
  <div>
   Odometer Image: <input type="text" name="odometer_image">
  </div>
  <div>
   License Plate Number: <input type="text" name="license_plate_number">
  </div>
  
  <h4> Account Info </h4>
  <div>
   Email: <input type="email" name="email">
  </div>
  <div>
   Password: <input type="password" name="password">
  </div>
  <div>
   Confirm Password: <input type="password" name="password_confirmation">
  </div>
  <input type="submit" value="Submit">
<% end %>

