<%= form_tag '/drivers', method: :post do  %>
  <div class="form-container">
    <div class="col-lg-8 col-sm-12">
      <form>
        <legend class="form-header">Driver Info </legend>
          <div class="form-group">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" name="first_name" placeholder="First Name">
              </div>
              <div class="col">
                <input type="text" class="form-control" name="last_name" placeholder="Last Name">
              </div>
            </div>
          </div>

        <div class="form-group">
          <input type="text" class="form-control" id="exampleFormControlInput1" name="phone_number" placeholder="Phone Number">
        </div>

        <div class="form-group">
          <input type="text" class="form-control" name="street_address_1" placeholder="Street Address">
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" name="street_address_2" placeholder="Apt #">
            </div>
            <div class="col">
             <input type="text" class="form-control" name="city" placeholder="City">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col">
              <select id="inputState" name="state" class="form-control">
                <option selected> State </option>
                <option>California</option>
              </select>
            </div>
            <div class="col">
              <input type="text" class="form-control" name="zip_code" placeholder="Zip Code">
            </div>
          </div>
        </div>

        <div class="form-group">
          <input type="email" class="form-control" name="email" placeholder="Email">
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col">
              <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <div class="col">
              <input type="password" class="form-control" name="password_confirmation" placeholder="Password Confirmation">
            </div>
          </div>
        </div>

        <legend class="form-header"> Car Details </legend>

        <div class="form-group">
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" name="make" placeholder="Make">
            </div>
            <div class="col">
              <input type="text" class="form-control" name="model" placeholder="Model">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" name="year" placeholder="Year">
            </div>
            <div class="col">
              <input type="text" class="form-control" name="mileage" placeholder="Mileage">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" name="car_image" placeholder="Car Image URL"> 
            </div>
            <div class="col">
              <input type="text" class="form-control" name="odometer_image" placeholder="Odometer Image URL"> 
            </div>
          </div>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" name="license_plate_number" placeholder="License Plate #">
        </div>
        
        <div class="col text-center"> 
          <button id="singlebutton" name="singlebutton" class="btn btn-primary">Register </button> 
        </div>

      </form>
    </div>
  </div>
<% end %>

