// Place all the styles related to the Businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// dashboard

.top-buffer { 
  margin-top:50px; 
}

.edit-link {
  float: right;
  color: #edbb5f;
  font-size: 15px; 
}

.business-card {
  margin-bottom: 40px; 
}

.img-thumbnail {
  margin-bottom: 18px;
}

// index

.card {
  width: 25rem; 
  margin-bottom: 40px; 
}

.card-img-top {
  width: 100%;
  height: 15vw;
}
