// Place all the styles related to the DriverSessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p.register-button {
  margin-top: 25px;
  color: #6B7A8F;
}

p.register-link a:link {
  color: #F7882F;
}
p.register-link a:visited {
  color: #F7882F;
}
p.register-link a:hover {
  color: #F7882F;
}