// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.background-pic {
  background: url(https://images.unsplash.com/photo-1529225596519-1262d0bfc242?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) no-repeat center center fixed;
  // background-image: url('../images/car.jpg');
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.center-buttons {
  margin-top: 320px; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}
